@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@font-face {
  font-family: 'EB Garamond 12';
  src: url('../fonts/EBGaramond12-Italic.woff2') format('woff2'),
      url('../fonts/EBGaramond12-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond 12';
  src: url('../fonts/EBGaramond12-Regular.woff2') format('woff2'),
      url('../fonts/EBGaramond12-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond SC 12';
  src: url('../fonts/EBGaramondSC12-Regular.woff2') format('woff2'),
      url('../fonts/EBGaramondSC12-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #FCF2BC;
  text-shadow: none;
}

::selection {
  background: #FCF2BC;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

body {
  background-color: #F8F7F6;
  color: #2C2B2A;
  font-weight: 400; font-family: 'EB Garamond', serif;
}

main {margin: 0 32px;}

header {
  max-width: 620px;
  margin: 0 auto;
  padding-top: 32px;
  margin-bottom: 40px;
  width: 96%;
  text-align: center;
}

header h1{ 
  font-size: 28px; 
  line-height: 42px; 
  font-weight: 400; 
  font-family: 'EB Garamond SC 12', serif; 
  letter-spacing: 1.2px;
}

header h1 span{ 
  font-family: 'EB Garamond 12', serif;
  font-weight: normal;
  font-style: italic;
 }

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}
.flex-grid-item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 33.3333%;
  flex-basis: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  border-style: dashed;
  margin: 4px;
  width: 64px;
  height: 152px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1px dashed #DBD9D2;
  border-radius: 4px;

}
.flex-grid-item :hover {
}

.blank {
  height: 0;
}

.flex-grid-item:nth-child(1){}

.flex-grid-item .si_line {
  width: 24px;
  height: 24px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
}
.flex-grid-item .si_line :hover{background: #E7E5E0;}

.flex-grid-item .si_duotone {
  width: 24px;
  height: 24px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 20px;
}
.flex-grid-item .si_duotone :hover{background: #E7E5E0;}

.flex-grid-item .si_fill {
  width: 24px;
  height: 24px;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 20px;
}
.flex-grid-item .si_fill :hover{background: #E7E5E0;}


header .CTAs button{
  outline: none;
  font-size: 14px;
  line-height: 25px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  padding: 6px 16px;
  cursor: pointer;
  transition: .3s;
  letter-spacing: 0.4px;

  color: #2C2B2A;
  background: #FFFFFF;
  border: 1px solid #2C2B2A;
  margin-left: 4px;
  border-radius: 4px;
  box-shadow: 0px 12px 32px rgba(44, 43, 42, 0.16);

}
header .CTAs button:hover{
  color: #09847E;
  background: #F5FBFB;
  box-shadow: none;
}

.details {
  margin: 0 auto;
  padding-top: 32px;
  margin-bottom: 40px;
  max-width: 770px;
  width: 94%;
  font-family: 'EB Garamond 12';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  line-height: 34px;
}

.details span{
  font-family: 'EB Garamond 12', serif;
    font-weight: normal;
    font-style: italic;
}

 .footer {
  padding: 2rem;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #72716D;
  font-size: 13px;
  line-height: 18px;
}

.footer a{
  color: #09847E;
}

/* Custom ends. */



@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}