@font-face {
    font-family: 'EB Garamond Initials Fill2';
    src: url('EBGaramondInitialsF2.woff2') format('woff2'),
        url('EBGaramondInitialsF2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond Initials Fill1';
    src: url('EBGaramondInitialsF1.woff2') format('woff2'),
        url('EBGaramondInitialsF1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond 08';
    src: url('EBGaramond08-Italic.woff2') format('woff2'),
        url('EBGaramond08-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond Initials';
    src: url('EBGaramondInitials.woff2') format('woff2'),
        url('EBGaramondInitials.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond 12 All SC';
    src: url('EBGaramond12-AllSC.woff2') format('woff2'),
        url('EBGaramond12-AllSC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond 12';
    src: url('EBGaramond12-Italic.woff2') format('woff2'),
        url('EBGaramond12-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond SC 08';
    src: url('EBGaramondSC08-Regular.woff2') format('woff2'),
        url('EBGaramondSC08-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond 12';
    src: url('EBGaramond12-Regular.woff2') format('woff2'),
        url('EBGaramond12-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond SC 12';
    src: url('EBGaramondSC12-Regular.woff2') format('woff2'),
        url('EBGaramondSC12-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

